


@media only screen and (max-width: 450px) {
	* {
		font-size: 13px;
	}
	

	.slider {
		height: 50%;
		margin-top: 15%;

	}


	section.photo .container {

		display: flex;
		flex-direction: column;
		flex-wrap: wrap;

		a {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
		}
	}


/*
	.photo {
		//margin-top: 100px;
		padding-top: 70%;
	}

	img#dog3 {
		width: 50%;
		height: 30%;
		margin-left : 0px;
		
		display: inline-block;
	}

	img#batman {
		width: 50%;
		height: 30%;
		margin-left : 0px;
		
		display: inline-block;
	}
	
	*/


	 //pierwsze kroki 
	 #whatShouldKnow {
	 	padding-top: 60px;
	 	width: 50%;



	 	h2 {
	 		font-size: 14px;
	 	}


	 }
	 #whatShouldKnow img {
	 	display: none;
	 }

//po co ta strona
#collage {
	width: 70%;
	margin: 0 auto;
}


#whatFor {
	width: 50%;
	margin: 0 auto;
}

//generator

button#female {
	margin-top:20px;

}

button#female:hover {
	text-decoration: none;
	width: auto;
} 

button#male {
	margin-top:20px;
}

button#male:hover {
	text-decoration: none;
	width: auto;
} 

div.list {
	width: auto;
}


}
