$main_font:  'Caveat Brush', cursive;



@mixin fontFace($family,$src,$style: normal,$weight: bold) {
	@font-face {
		font-family: $family;
		
		src: url('../fonts/puppybellies-webfont.woff2') format('woff2'), 
		url('../fonts/puppybellies-webfont.woff') format('woff');


		font-style: $style;
		font-weight: $weight;
	}
}


@mixin nameGeneratorbutton {
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	color: #ffffff;
	font-size: 20px;
	background: #3498db;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
}

