$main_font:  'Caveat Brush', cursive;



@mixin fontFace($family,$src,$style: normal,$weight: bold) {
	@font-face {
		font-family: $family;
		
		src: url('../fonts/puppybellies-webfont.woff2') format('woff2'), 
		url('../fonts/puppybellies-webfont.woff') format('woff');


		font-style: $style;
		font-weight: $weight;
	}
}