
@import "_variable" ;
@import "_media";

@include fontFace('puppybelliesmedium', '../fonts/puppybellies');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

section {
	font-family: $main_font;

}


body {
	
	background-image: url("../images/dogpaws-min.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 100%;
	
}

///tutaj klasa do wyswietlania menu
nav ul.showMenu {
	display: block;
}

@media (min-width: 375px) {
	nav ul{
		display: block;
	}


	nav ul	li {
		display: inline-block;
	}

	button {
		display: none;
	}
}


nav button {
	margin: 10px 0 0 10px;
	
	border-top: 1px solid #7d95a3;
	background: #e3e3e3;
	background: -webkit-gradient(linear, left top, left bottom, from(#dedede), to(#e3e3e3));
	background: -webkit-linear-gradient(top, #dedede, #e3e3e3);
	background: -moz-linear-gradient(top, #dedede, #e3e3e3);
	background: -ms-linear-gradient(top, #dedede, #e3e3e3);
	background: -o-linear-gradient(top, #dedede, #e3e3e3);
	padding: 8.5px 17px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #2b1e2b;
	font-size: 12px;
	font-family: Georgia, serif;
	text-decoration: none;
	vertical-align: middle;
}
nav button :hover {
	border-top-color: #9ba6ad;
	background: #9ba6ad;
	color: #0f080f;
}
nav button :active {
	border-top-color: #1b435e;
	background: #1b435e;
}



.menu_bar {


	list-style:none;
	text-align: center;
	//background-color: #6C7A89;
	position: relative;
	z-index: 1;
	width: 100%;
	border: 1px solid #6C7A89;
	font-family: puppybelliesmedium, Tahoma, Arial;

	li {

		line-height: 40px;
		height: 50px;
		font-size: 30px;
		display: inline-block;
		margin-right: 20px;
	}

	a {

		
		text-decoration: none;
		color: black;
		display: block;
		transition: .3s background-color;
		
	}

	a:hover
	{
		background-color: #ECF0F1;
	}

	a.active {
		background-color:#BFBFBF;
		color: #444;
		cursor: default;
	}
}


//po co ta strona
.container_whatFor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#whatFor {
	
	width: auto;
	height: auto;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	color: black;
	text-align: left;
	margin: 70px  0 ;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
	//opacity: 0.5;
	//position:absolute;
	left: 250px;

	

}


#collage {
	width: 650px;
	height: 350px;
	//position: center;
	margin: 0 auto;
	//left: 350px;
	//position: relative;
	margin-top: 150px;
	

}


//czy jestem gotowy na psa
#whatShouldKnow {
	
	width: 70%;
	height: auto;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	color: black;
	text-align: left;
	margin: 20px 200px 20px 100px;
	padding: 10px 15px 10px 15px;
	float: right;
	font-size: 23px;
	line-height: 40px;

} 

h2 {

	padding-top: 10px;
}



footer {

	font-size: 15px;
	
	position:relative;
	width: 100%;
	padding-top: 20px;
	color: black;
	height: 30px;
	text-decoration: none;
	bottom: 0;
	text-align: center;
	font-family: $main_font;
	z-index: 10;
	clear: both;


	a {
		color: black;
		text-decoration: none;
	}

	a:hover {
		color: #DB0A5B;
	}

}

.container {

	min-height: 100%;
	margin: 0 auto;
	

}
//pomocne linki
.containerFlex {
	display: flex;
	justify-content: center;
}

.list {
	
	text-align: center;
	width: 790px;
	height: auto;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	margin: 150px 150px 0 150px;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
	
	left: 250px;
	
	
	a {
		text-decoration: none;
		color: black;
		transition: .3s background-color;
	}
	a:hover
	{
		background-color: #BFBFBF;
	}

	a.active {
		background-color:#BFBFBF;
		color: #444;
		cursor: default;
	}

}
//klasa ul listy linkow
.link {
	list-style-type: none; 
	line-height: 35px;

}



//zdjęcia z głównej

.photo .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	height: 900px;

	a {

		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: center;

	}
}

#dog3 {
	
	//width: 550px;
	width: 70%;
	//height: 420px;
	margin-top: 50px;
}

#batman {
	
	//width: 550px;
	width: 70%;
	//height: 420px;
	margin-top: 55px;

}




//slider 


.slider {
	height: 500px;
	overflow: hidden;
	//width: 435px;
	margin-top: 100px;
	
}



//zdjęcia  z ready.html
#kudlaty {
	display: block;
	margin: 0 auto;	
	
}

#owczarek {
	display: block;
	margin: 0 auto;	
	

}

#kermit {
	display: block;
	margin: 0 auto;	

}

#chrupka {
	display: block;
	margin: 0 auto;	

}

//generator

.articleGenerator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-generator {
	min-height: 100%;
	//margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 120px;

}

#female {
	display: flex;
	margin-top: 10px;
	margin-right: 10px;
	@include nameGeneratorbutton ;
	background-image: url("../images/she.png");
	background-size: cover;
	background-position: center;
	font-family: puppybelliesmedium, Tahoma, Arial;
	font-size: 25px;
}


#female:hover {
	
	text-decoration: none;
	
	width: 320px;
} 

#dogname {
	width: 200px;
	height: 70px;
	color: black;
	margin-top: 170px;
	font-size: 45px;
	display: flex;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	text-align: center;
	padding-left: 15px;

}



#male {
	display: flex;
	
	margin-top: 10px;
	@include nameGeneratorbutton ;
	background-image: url("../images/he.png");
	background-size: cover;
	background-position: center;
	font-family: puppybelliesmedium, Tahoma, Arial;
	font-size: 25px;
}

#male:hover {
	
	width: 300px;
	text-decoration: none;
} 

.articleGenerator button p {
	margin-top: 250px;
	display: inline-block;
	

}
.articleGenerator button p:hover {
	margin-top: 250px;
	display: inline-block;
	width: 300px;

}


.rslides {
	/*position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	left: 25%; */

	display: block;
	margin: 0 auto;

}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}