
@import "_variable" ;
@import "_media";

@include fontFace('puppybelliesmedium', '../fonts/puppybellies');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: $font_color;
}

section {
	font-family: $main_font;



}


body {
	
	background-image: url("../images/dogpaws-min.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	min-height: 100%;
	
}

.hamburger {
	width: 40px;
	height: 35px;
	border: 0;
	border-top: 5px solid #ffffff;
	background: transparent;
	position: relative;
	transition: 0.3s transform linear;


}

.hamburger::before, .hamburger::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	border-top: 5px solid #ffffff;
	transform: translateY(10px);
}

.hamburger::after {
	transform: translateY(25px);
	transition: 0.3s transform linear;
}

.hamburger:focus {
	transform: rotate(45deg) translateY(5px);
	border: none;
}

.hamburger:focus::after {
	transform: rotate(-90deg) translateX(-10px);
}



.invisible {
	display: none;
}

@media (max-width: 375px) {

	nav ul.invisible {
		display: none;
	}
	nav ul.showMenu {
		display: block;
	}
	nav ul	li {
		display: inline-block;
	}

	.hamburger {
		display: block;
	}
	.menu_bar {
		display: none;
	}
}

@media (min-width: 376px) {

	.hamburger {
		visibility: hidden;
	}
	.menu_bar {
		display: block;
	}

} 




.menu_bar {


	list-style:none;
	text-align: center;

	position: relative;
	z-index: 1;
	width: 100%;
	border: 1px solid #134367;
	font-family: puppybelliesmedium, Tahoma, Arial;

	li {

		line-height: 40px;
		height: 50px;
		font-size: 30px;
		display: inline-block;
		margin-right: 20px;
	}

	a {


		text-decoration: none;
		color: black;
		display: block;
		transition: .3s background-color;

	}

	a:hover{
		background-color: #C1D8EA;
	}

	a.active {
		background-color:#BFBFBF;
		color: #444;
		cursor: default;
	}
}


//po co ta strona
.container_whatFor {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#whatFor {
	
	width: auto;
	height: auto;
	border-radius: 5%;
	border: $border;
	background-color: $text_background;
	color: $font_color;
	text-align: left;
	margin: 70px  0 ;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
	//opacity: 0.5;
	//position:absolute;
	left: 250px;

	

}


#collage {
	width: 650px;
	height: 350px;
	//position: center;
	margin: 0 auto;
	//left: 350px;
	//position: relative;
	//margin-top: 100px;
	

}


//czy jestem gotowy na psa
#whatShouldKnow {
	
	width: 70%;
	height: auto;
	border-radius: 5%;
	border: $border;
	background-color: $text_background;
	color: #134367;
	text-align: left;
	margin: 20px 200px 20px 100px;
	padding: 10px 15px 10px 15px;
	//float: right;
	font-size: 23px;
	line-height: 40px;

} 

h2 {

	padding-top: 10px;
}



footer {

	font-size: 15px;
	
	position:relative;
	width: 100%;
	padding-top: 20px;
	color: black;
	height: 30px;
	text-decoration: none;
	bottom: 0;
	text-align: center;
	font-family: $main_font;
	z-index: 10;
	clear: both;


	a {
		color: black;
		text-decoration: none;
	}

	a:hover {
		color: #DB0A5B;
	}

}

.container {

	min-height: 100%;
	margin: 0 auto;
	

}
//pomocne linki
.containerFlex {
	display: flex;
	justify-content: center;
}

.list {
	
	text-align: center;
	width: 790px;
	height: auto;
	border-radius: 5%;
	border: $border;
	background-color: $text_background;
	margin: 150px 150px 0 150px;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
	
	left: 250px;
	
	
	a {
		text-decoration: none;
		color: $font_color;
		transition: .3s background-color;
	}
	a:hover
	{
		background-color: #84BDE9;
	}

	a.active {
		background-color:#BFBFBF;
		color: #444;
		cursor: default;
	}

}
//klasa ul listy linkow
.link {
	list-style-type: none; 
	line-height: 35px;

}



//zdjęcia z głównej

.photo .container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	align-items: center;
	height: 900px;

	a {

		display: flex;
		justify-content: center;
		flex-wrap: nowrap;
		align-items: center;

	}
}

#dog3 {
	
	//width: 550px;
	width: 65%;
	//height: 420px;
	margin-top: 50px;
}

#batman {
	
	//width: 550px;
	width: 65%;
	//height: 420px;
	margin-top: 55px;

}




//slider 


.slider {
	height: 500px;
	overflow: hidden;
	//width: 435px;
	margin-top: 100px;
	
}



//zdjęcia  z ready.html
#kudlaty {
	display: block;
	margin: 0 auto;	
	
}

#owczarek {
	display: block;
	margin: 0 auto;	
	

}

#kermit {
	display: block;
	margin: 0 auto;	

}

#chrupka {
	display: block;
	margin: 0 auto;	

}

//generator

.articleGenerator {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.div-generator {
	min-height: 100%;
	//margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 120px;

}

#female {
	display: flex;
	margin-top: 10px;
	margin-right: 10px;
	@include nameGeneratorbutton ;
	background-image: url("../images/she.png");
	background-size: cover;
	background-position: center;
	font-family: puppybelliesmedium, Tahoma, Arial;
	
}


#female:hover {
	
	text-decoration: none;
	
	width: 320px;
} 

#dogname {
	width: 200px;
	height: 70px;
	color: $font_color;
	margin-top: 170px;
	font-size: 45px;
	display: flex;
	border-radius: 10%;
	border: $border;
	background-color: $text_background;
	text-align: center;
	padding-left: 15px;

}



#male {
	display: flex;
	
	margin-top: 10px;
	@include nameGeneratorbutton ;
	background-image: url("../images/he.png");
	background-size: cover;
	background-position: center;
	font-family: puppybelliesmedium, Tahoma, Arial;

}

#male:hover {
	
	width: 300px;
	text-decoration: none;
} 

.articleGenerator button p {
	margin-top: 250px;
	display: inline-block;

}

.articleGenerator button p:hover {
	margin-top: 250px;
	display: inline-block;
	width: 300px;

}


.rslides {
	

	display: block;
	margin: 0 auto;

}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}

// quiz

.startingSection {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-family: $main_font;
}

h1 {

	font-size: 35px;
	color: black;
	margin-top: 50px;
	text-decoration: overline;
	margin-bottom: 20px;

}

#start, .startTest, .quizButton, .hideAlertBtn{
	border: none;
	color: white;
	background-color: $quiz_background;
	width: 130px;
	height: 70px;
	font-size: 25px;
	border-radius: 5%;
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: $main_font;

}
#start {
	width: 350px;
	height: 100px;
	font-size: 35px;
}
#start:hover {
	background-color: #A0ADF3;
}
.title, .resultsBoard {
	color: black;
	font-size: 35px ;
	text-align: center;
	font-weight: bold;
	font-family: $main_font;
}


.resultsBoard {
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 50px;
	border: none;
	color: white;
	background-color: $quiz_background;
	width: 75%;
}

.resultsParagraph {
	color: white;
}

#testBoard {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
}
.quizDiv {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.alertBox {
	width: 100vw;
	height: 100vh;
	color: #efefef;
	font-size: 30px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: $main_font;
}
label {
	color: #efefef;
	background: $quiz_background;
	margin: 5px;
	font-size: 25px;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border-radius: 9%;
	font-family: $main_font;

}
.checked {
	border: 5px solid #A0ADF3;
}


input {
	opacity: 0.01;
}
