
@import "_variable" ;
@import "_media";

@include fontFace('puppybelliesmedium', '../fonts/puppybellies');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	
}

section {
	font-family: $main_font;

}


body {
	
	background-image: url("../images/My Dog Paws.jpg");
	background-size: cover;
	background-position: center;
	position: relative;
	
}

.menu_bar {

	list-style:none;
	text-align: center;
	//background-color: #6C7A89;
	position: absolute;
	z-index: 1;
	width: 100%;
	border: 1px solid #6C7A89;
	font-family: puppybelliesmedium, Tahoma, Arial;

	li {

		line-height: 40px;
		height: 50px;
		font-size: 30px;
		display: inline-block;
		margin-right: 20px;
	}

	a {

		
		text-decoration: none;
		color: black;
		display: block;
		transition: .3s background-color;
		
	}

	a:hover
	{
		background-color: #ECF0F1;
	}

	a.active {
		background-color:#BFBFBF;
		color: #444;
		cursor: default;
	}
}

.dogImg {
	width: 32px;
	height: 32px;
	background-image: url("../images/dog.png");
	position: absolute;
	z-index:2;
	margin-left: 220px;

}

.dogImg2 {
	width: 32px;
	height: 32px;
	background-image: url("../images/dog.png");
	position: absolute;
	z-index:2;
	margin-left: 1270px;

}
//po co ta strona
#whatFor {
	
	width: 790px;
	height: auto;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	color: black;
	text-align: left;
	margin: 50px 150px 0 150px;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
	//opacity: 0.5;
	position:absolute;
	left: 250px;


}

//czy jestem gotowy na psa
#whatShouldKnow {
	
	width: auto;
	height: auto;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	color: black;
	text-align: left;
	margin: 50px 150px 20px 150px;
	padding: 20px 5px 20px 5px;
	float: right;
	font-size: 23px;
	line-height: 40px;

} 

h2 {

	padding-top: 10px;
}



footer {

	font-size: 10px;
	font-weight: bold;
	position:fixed;
	width: 100%;
	padding-top: 20px;
	color: black;
	height: 60px;

	bottom: 0;
	text-align: center;


}

.container {

	min-height: 100%;
	margin: 0 auto;


}
//pomocne linki
.list {

	text-align: center;
	width: 790px;
	height: auto;
	border-radius: 15px;
	border: 5px solid #446CB3;
	background-color: #E4F1FE;
	margin: 50px 150px 0 150px;
	padding: 20px 5px 20px 5px;
	font-size: 20px;
	position: absolute;
	left: 250px;
	
	a {
		text-decoration: none;
		color: black;
		transition: .3s background-color;
	}
	a:hover
	{
		background-color: #BFBFBF;
	}

	a.active {
		background-color:#BFBFBF;
		color: #444;
		cursor: default;
	}

}
//klasa ul listy linkow
.link {
	list-style-type: none; 
	line-height: 35px; 
}

#collage {

	width: 650px;
	height: 350px;
	position: center;
	margin: 250px 150px 0 150px;
	left: 350px;
	position: relative;
}


#dog3 {

	width: 550px;
	height: 420px;
	margin-top: 50px;
}

#batman {

	width: 550px;
	height: 420px;
	margin-top: 55px;

}

//slider 



.slider {
	height: 500px;
	overflow: hidden;
	//width: 435px;
	margin-top: 100px;
	
}




//zdjęcia  z ready.html
#kudlaty {
	display: block;
	margin: 0 auto;	
	
}

#owczarek {
	display: block;
	margin: 0 auto;	
	

}

#kermit {
	display: block;
	margin: 0 auto;	

}

#chrupka {
	display: block;
	margin: 0 auto;	

}

//generator

.generator {
	min-height: 100%;
	//margin: 0 auto;
	display: flex;
	
}

#female {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	margin-right: 10px;
	@include nameGeneratorbutton ;

}


#female:hover {
	background: #3cb0fd;
	text-decoration: none;
} 


#male {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 70px;
	@include nameGeneratorbutton ;


}

#male:hover {
	background: #3cb0fd;
	text-decoration: none;
} 


.rslides {
	position: relative;
	list-style: none;
	overflow: hidden;
	width: 100%;
	padding: 0;
	margin: 0;
	left: 25%;

}

.rslides li {
	-webkit-backface-visibility: hidden;
	position: absolute;
	display: none;
	width: 100%;
	left: 0;
	top: 0;
}

.rslides li:first-child {
	position: relative;
	display: block;
	float: left;
}

.rslides img {
	display: block;
	height: auto;
	float: left;
	width: 100%;
	border: 0;
}